* {
	box-sizing: border-box;
}

#container {
	display: inline-block;

	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 auto;
	margin-top: 50px;
}

#game {
	position: relative;

	width: 606px;
	margin: 0 auto;
	padding: 0;

	background-color: black;
	border: 3px black solid;
	border-bottom: 3px #253031 solid;
	border-right: 3px #343D3D solid;
}

#square {
	display: inline-block;
	position: relative;

	height: 0;
	margin: 0;
	padding: 0;
	
	font-size: 40px;
	text-align: center;

	background-color: white;
	border-top: 3px #253031 solid;
	border-left: 3px #343D3D solid;
	border-bottom: 3px #253031 solid;
	border-right: 3px #343D3D solid;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#counter {
	width: 50%;
}

.empty {
	width: 0;

	background-color: black !important;
	border: 3px solid black !important;
	color: transparent;
}

#moves {
	margin: 20px;

	font-size: 25px;
	text-align: center;
}

@media (max-width: 800px){
	#game {
		width: 100% !important;
	}
}

@media (max-width: 500px){
	#square {
		font-size: 30px;
	}
}
